# data-preprocessing

---

## Part 1.  Importing the data
#### Part 1.1. Determining the Columns for each Dataset

In [1]:
import pandas as pd

In [ ]:
usr_ratings_cols = 'user id | item id | rating | timestamp'.split(' | ')
usr_ratings_cols

In [ ]:
movie_info_cols = '''movie id | movie title | release date | video release date | IMDb URL | unknown | Action | Adventure | Animation | Children's | Comedy | Crime | Documentary | Drama | Fantasy | Film-Noir | Horror | Musical | Mystery | Romance | Sci-Fi | Thriller | War | Western'''.split(' | ')
movie_info_cols

In [ ]:
usr_info_cols = 'user id | age | gender | occupation | zip code'.split(' | ')
usr_info_cols

#### Part 1.2. Importing the Datasets
---
  * **usr_ratings** corresponds to **u.data**
  * **movie_info** corresponds to **u.item**
  * **usr_info** corresponds to **u.user**
---
  * **genre_info** corresponds to **u.genre**
  * **ocp_info** corresponds to **u.occupation**

In [29]:
usr_ratings = pd.read_csv('ml-100k/u.data', delimiter='\t', header=None, names=usr_ratings_cols, encoding='latin-1')

In [30]:
usr_ratings.head()

   user id  item id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [28]:
movie_info = pd.read_csv('ml-100k/u.item', delimiter='|', header=None, names=movie_info_cols, encoding='latin-1')

In [33]:
movie_info.head()

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [35]:
usr_info = pd.read_csv('ml-100k/u.user', delimiter='|', header=None, names=usr_info_cols, encoding='latin-1')

In [36]:
usr_info.head()

   user id  age gender  occupation zip code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [47]:
genre_info = pd.read_csv('ml-100k/u.genre', delimiter='|', header=None, names=['genre_id', 'genre_code'], encoding='latin-1')
genre_info = genre_info[['genre_id']]

In [48]:
genre_info.head()

     genre_id
0     unknown
1      Action
2   Adventure
3   Animation
4  Children's

In [52]:
ocp_info = pd.read_csv('ml-100k/u.occupation', delimiter='|', header=None, names=['ocp_id'], encoding='latin-1')
ocp_info = ocp_info[['ocp_id']]

In [53]:
ocp_info.head()

          ocp_id
0  administrator
1         artist
2         doctor
3       educator
4       engineer

#### Part 2. Data Preprocessing
---