## Import Libraries

In [1]:
import pandas as pd
import lonely_boy2 as lb2
from sklearn import preprocessing
import numpy as np
from tqdm import tqdm_notebook,tqdm

## Initialize Relation Attributes

In [2]:
usr_ratings_cols = 'user id | item id | rating | timestamp'.split(' | ')
movie_info_cols = '''movie id | movie title | release date | video release date | IMDb URL | unknown | Action | Adventure | Animation | Children's | Comedy | Crime | Documentary | Drama | Fantasy | Film-Noir | Horror | Musical | Mystery | Romance | Sci-Fi | Thriller | War | Western'''.split(' | ')
usr_info_cols = 'user id | age | gender | occupation | zip code'.split(' | ')

## Initialize Relation URL's

In [3]:
usr_ratings_url = 'http://files.grouplens.org/datasets/movielens/ml-100k/u.data'
movie_info_url  = 'http://files.grouplens.org/datasets/movielens/ml-100k/u.item'
usr_info_url    = 'http://files.grouplens.org/datasets/movielens/ml-100k/u.user'
genre_info_url  = 'http://files.grouplens.org/datasets/movielens/ml-100k/u.genre'
ocp_info_url    = 'http://files.grouplens.org/datasets/movielens/ml-100k/u.occupation'

## Read CSV's

In [4]:
usr_ratings = pd.read_csv(usr_ratings_url, delimiter='\t', header=None, names=usr_ratings_cols, encoding='latin-1')

movie_info = pd.read_csv(movie_info_url, delimiter='|', header=None, names=movie_info_cols, encoding='latin-1')

usr_info = pd.read_csv(usr_info_url, delimiter='|', header=None, names=usr_info_cols, encoding='latin-1')

genre_info = pd.read_csv(genre_info_url, delimiter='|', header=None, names=['genre_id', 'genre_code'], encoding='latin-1')
genre_info = genre_info[['genre_id']]

ocp_info = pd.read_csv(ocp_info_url, delimiter='|', header=None, names=['ocp_id'], encoding='latin-1')
ocp_info = ocp_info[['ocp_id']]

In [15]:
usr_info.head()

   user id  age gender  occupation zip code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [9]:
ratings = usr_ratings.merge(movie_info, left_on='item id', right_on='movie id')
ratings = ratings.drop(['item id','rating','timestamp','movie title','release date','video release date','IMDb URL'],axis = 1)
ratings.head()

,user id,movie id,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,196,242,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,63,242,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,226,242,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,154,242,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,306,242,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [131]:
cols = [col for col in ratings.columns if col != 'movie id']
finaldf = pd.DataFrame(columns = cols, np.nan)
print(finaldf)
finaldf.fillna(0)
tmpdf.iloc[1,1]

ValueError: DataFrame constructor not properly called!

In [121]:
for usr in tqdm(ratings['user id'].unique()):
    tmp = ratings.loc[ratings['user id'] == usr]
    tmpdf = pd.DataFrame(columns = [col for col in ratings.columns if col != 'movie id'])
    tmpdf['user id'] = usr
    sums = tmp.iloc[2:21].sum(axis=0)
    ind = 1
    for sumamount in sums:
        tmpdf.iloc[:,ind] = sumamount
        ind += 1
    print (tmpdf)
    break

  0%|          | 0/943 [00:00<?, ?it/s]

IndexError: single positional indexer is out-of-bounds

In [ ]:
lst = [] 
for usr in tqdm_notebook(ratings['user id'].unique()):
    tmp = ratings.loc[ratings['user id'] == usr]
    print(tmp)
    tmplst = []
    tmplst.append(usr)
    sums = tmp.iloc[:,2:21].sum(axis=0)
    for sumamount in sums:
        tmplst.append(sumamount)
    lst.append(tmplst)
cols = [col for col in ratings.columns if col != 'movie id']
finaldf2 = pd.DataFrame(lst , columns = cols)

In [23]:
fookinfinaldf = finaldf2.merge(usr_info, on='user id')

In [32]:
fookinfinaldf = fookinfinaldf.drop('user id',axis=1)

In [33]:
from sklearn import preprocessing

x = fookinfinaldf.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
finaldfnormed = pd.DataFrame(x_scaled)

C:\Users\theotheo\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype object was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [36]:
finaldfnormed = np.array(finaldfnormed)
finaldfnormed

array([[ 0.        ,  0.01898734,  0.05263158, ...,  0.63636364,
         1.        ,  0.        ],
       [ 0.        ,  0.09493671,  0.10526316, ...,  0.36363636,
         0.55      ,  0.        ],
       [ 0.        ,  0.05063291,  0.05263158, ...,  0.31818182,
         0.9       ,  0.        ],
       ...,
       [ 0.        ,  0.03797468,  0.        , ...,  0.34848485,
         0.05      ,  1.        ],
       [ 0.        ,  0.06329114,  0.        , ...,  0.5       ,
         0.55      ,  1.        ],
       [ 0.        ,  0.0443038 ,  0.01315789, ...,  0.62121212,
         0.        ,  1.        ]])

In [37]:
np.save('fookinfinaldf.npy', finaldfnormed)

In [45]:
ratings.columns[2:21]

Index(['unknown', 'Action', 'Adventure', 'Animation', 'Children's', 'Comedy',
       'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror',
       'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western'],
      dtype='object')

In [58]:
ratings['user id'].nunique()

943

In [61]:
tmp2 = ratings.head(50)
tmp2.Comedy

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
24    1
25    1
26    1
27    1
28    1
29    1
30    1
31    1
32    1
33    1
34    1
35    1
36    1
37    1
38    1
39    1
40    1
41    1
42    1
43    1
44    1
45    1
46    1
47    1
48    1
49    1
Name: Comedy, dtype: int64

In [134]:
ratings.loc[ratings['user id'] == 196]

,user id,movie id,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,196,242,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1518,196,257,0,1,1,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
13157,196,111,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
13622,196,25,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
14668,196,382,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
28289,196,202,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
34307,196,153,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
42467,196,286,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
42983,196,66,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
44286,196,845,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
46713,196,173,0,1,1,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
47415,196,238,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
52120,196,94,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
52573,196,762,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53901,196,381,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
54081,196,306,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
54716,196,8,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
57954,196,70,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
58541,196,655,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
58878,196,13,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
59607,196,692,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
61655,196,1022,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
63578,196,287,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
64087,196,269,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
66308,196,285,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
66952,196,110,0,1,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
66958,196,251,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
67442,196,393,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
69345,196,663,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
75120,196,580,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
76044,196,428,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
76827,196,411,0,0,0,0,0,1,0,0,...,1,0,0,0,0,1,1,0,0,0
77389,196,116,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
77998,196,1007,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
82487,196,340,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
86068,196,67,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
90876,196,1118,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
92604,196,108,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
94003,196,1241,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
ratings = ratings.drop(['release date','video release date','IMDb URL'],axis=1)

In [6]:
movie_info.head(2)

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0

In [7]:
usr_info.head(10)

   user id  age gender     occupation zip code
0        1   24      M     technician    85711
1        2   53      F          other    94043
2        3   23      M         writer    32067
3        4   24      M     technician    43537
4        5   33      F          other    15213
5        6   42      M      executive    98101
6        7   57      M  administrator    91344
7        8   36      M  administrator    05201
8        9   29      M        student    01002
9       10   53      M         lawyer    90703

In [8]:
genre_info.head(2)

  genre_id
0  unknown
1   Action

In [10]:
ocp_info.index[ocp_info['ocp_id'] == 'artist'][0]

1

In [16]:
usr_info['occupation_encoded']='abc'

In [17]:
for index,row in tqdm_notebook(usr_info['occupation'].iteritems()):
    usr_info['occupation_encoded'][index] = ocp_info.index[ocp_info['ocp_id'] == row][0]

A Jupyter Widget

C:\Users\theotheo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [18]:
usr_info

     user id  age gender     occupation zip code occupation_encoded
0          1   24      M     technician    85711                 19
1          2   53      F          other    94043                 13
2          3   23      M         writer    32067                 20
3          4   24      M     technician    43537                 19
4          5   33      F          other    15213                 13
5          6   42      M      executive    98101                  6
6          7   57      M  administrator    91344                  0
7          8   36      M  administrator    05201                  0
8          9   29      M        student    01002                 18
9         10   53      M         lawyer    90703                  9
10        11   39      F          other    30329                 13
11        12   28      F          other    06405                 13
12        13   47      M       educator    29206                  3
13        14   45      M      scientist    55106                 17
14        15   49      F       educator    97301                  3
15        16   21      M  entertainment    10309                  5
16        17   30      M     programmer    06355                 14
17        18   35      F          other    37212                 13
18        19   40      M      librarian    02138                 10
19        20   42      F      homemaker    95660                  8
20        21   26      M         writer    30068                 20
21        22   25      M         writer    40206                 20
22        23   30      F         artist    48197                  1
23        24   21      F         artist    94533                  1
24        25   39      M       engineer    55107                  4
25        26   49      M       engineer    21044                  4
26        27   40      F      librarian    30030                 10
27        28   32      M         writer    55369                 20
28        29   41      M     programmer    94043                 14
29        30    7      M        student    55436                 18
..       ...  ...    ...            ...      ...                ...
913      914   44      F          other    08105                 13
914      915   50      M  entertainment    60614                  5
915      916   27      M       engineer    N2L5N                  4
916      917   22      F        student    20006                 18
917      918   40      M      scientist    70116                 17
918      919   25      M          other    14216                 13
919      920   30      F         artist    90008                  1
920      921   20      F        student    98801                 18
921      922   29      F  administrator    21114                  0
922      923   21      M        student    E2E3R                 18
923      924   29      M          other    11753                 13
924      925   18      F       salesman    49036                 16
925      926   49      M  entertainment    01701                  5
926      927   23      M     programmer    55428                 14
927      928   21      M        student    55408                 18
928      929   44      M      scientist    53711                 17
929      930   28      F      scientist    07310                 17
930      931   60      M       educator    33556                  3
931      932   58      M       educator    06437                  3
932      933   28      M        student    48105                 18
933      934   61      M       engineer    22902                  4
934      935   42      M         doctor    66221                  2
935      936   24      M          other    32789                 13
936      937   48      M       educator    98072                  3
937      938   38      F     technician    55038                 19
938      939   26      F        student    33319                 18
939      940   32      M  administrator    02215                  0
940      941   20      M        student    97229                 18
941      942   48      F      librarian    78209                 10
942      943   22      M        student    77841                 18

[943 rows x 6 columns]

In [19]:
bingend = list(map(lambda x:0 if (x=='M') else 1,usr_info['gender'].values))

In [20]:
col = pd.Series(bingend)
usr_info['bingender'] = col.values

In [21]:
usr_info = usr_info.drop(['gender','occupation','zip code'],axis=1)

In [22]:
usr_info.head()

   user id  age occupation_encoded  bingender
0        1   24                 19          0
1        2   53                 13          1
2        3   23                 20          0
3        4   24                 19          0
4        5   33                 13          1

TypeError: tuple indices must be integers or slices, not tuple

In [40]:
usr_info['occupation'][5]

'executive'

In [11]:
TheDataData = usr_info.iloc[:,:-1]

In [12]:
TheDataData = TheDataData.merge(usr_ratings, on='user id')

In [13]:
TheDataData = TheDataData.drop(['timestamp', 'user id'], axis=1)

In [14]:
TheDataData = TheDataData.merge(movie_info, left_on = 'item id', right_on = 'movie id').drop(['item id', 'movie id', 'movie title', 'release date', 'video release date', 'IMDb URL'], axis=1)

In [19]:
TheDataData

,age,gender,occupation,rating,unknown,Action,Adventure,Animation,Children's,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,24,M,technician,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,47,M,educator,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,35,F,other,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,27,M,programmer,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,49,M,educator,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,50,M,healthcare,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,20,M,student,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,26,M,student,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,53,M,programmer,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,25,M,student,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,27,M,programmer,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,32,M,artist,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,42,M,scientist,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,27,M,writer,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,17,M,student,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,24,M,engineer,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,33,M,programmer,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,43,F,administrator,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,29,M,doctor,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,23,M,programmer,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,60,M,retired,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,49,F,educator,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,32,M,librarian,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,29,F,librarian,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,32,M,engineer,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,36,M,writer,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,33,M,entertainment,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,23,M,student,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,22,F,healthcare,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,48,M,administrator,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,47,M,educator,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99971,19,M,other,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99972,19,M,other,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
99973,24,F,other,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99974,32,M,administrator,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
99975,21,F,artist,4,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
99976,21,F,artist,2,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
99977,21,F,artist,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
99978,21,F,artist,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99979,21,F,artist,3,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
99980,21,F,artist,4,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
99981,38,F,entertainment,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
99982,22,M,student,4,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
99983,13,M,student,4,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
99984,21,F,artist,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99985,21,F,artist,3,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
99986,21,F,artist,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99987,18,F,student,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99988,28,M,librarian,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99989,28,M,writer,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99990,44,F,executive,3,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
99991,39,M,artist,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99992,18,M,other,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99993,18,M,other,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99994,29,F,student,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99995,17,M,student,3,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
99996,17,M,student,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99997,17,M,student,2,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
99998,28,M,writer,3,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
99999,27,M,engineer,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
TheDataData.groupby(['age','gender', 'occupation', 'rating'],as_index = False).sum()

,age,gender,occupation,rating,unknown,Action,Adventure,Animation,Children's,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,7,M,student,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
1,7,M,student,2,0,2,2,0,0,1,...,0,0,0,1,0,0,0,1,0,0
2,7,M,student,3,0,6,5,0,1,4,...,0,0,0,0,0,2,2,4,1,0
3,7,M,student,4,0,7,6,1,4,9,...,1,0,0,2,0,5,6,3,2,0
4,7,M,student,5,0,3,1,0,0,4,...,0,0,0,0,1,4,2,1,2,1
5,10,M,student,1,0,0,0,4,4,0,...,0,0,0,4,0,0,0,0,0,0
6,10,M,student,2,0,0,1,4,5,1,...,0,0,0,1,0,0,0,0,0,0
7,10,M,student,3,0,1,2,3,4,0,...,0,0,0,3,0,1,1,0,1,0
8,10,M,student,4,0,1,1,3,4,4,...,0,0,0,1,1,2,1,0,1,0
9,10,M,student,5,0,1,3,2,9,7,...,0,0,0,0,0,1,1,0,0,0
10,11,M,none,1,0,2,2,1,1,1,...,0,0,0,2,0,0,0,1,0,0
11,11,M,none,2,0,2,3,0,2,3,...,0,0,0,0,1,1,1,0,0,0
12,11,M,none,3,0,3,0,1,1,3,...,0,0,0,0,0,1,2,1,1,0
13,11,M,none,4,0,5,2,0,0,0,...,0,0,0,0,0,1,1,3,1,0
14,11,M,none,5,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
15,13,F,student,1,0,3,1,2,8,12,...,0,0,0,3,1,2,0,1,0,0
16,13,F,student,2,0,1,2,0,1,2,...,0,0,1,1,0,0,1,2,0,0
17,13,F,student,3,0,7,3,0,2,3,...,0,0,1,0,0,1,2,9,0,0
18,13,F,student,4,0,7,5,1,1,6,...,0,0,0,0,1,4,4,2,4,0
19,13,F,student,5,0,4,3,1,1,4,...,0,0,0,0,0,6,0,3,0,0
20,13,M,none,2,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
21,13,M,none,3,0,1,1,0,0,1,...,0,0,0,0,0,1,0,0,0,0
22,13,M,none,4,0,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,0
23,13,M,none,5,0,3,0,0,0,5,...,0,1,1,0,2,1,2,9,2,0
24,13,M,other,1,0,1,0,0,1,1,...,0,0,0,0,0,0,0,1,0,0
25,13,M,other,2,0,1,1,0,0,1,...,0,0,0,0,1,1,1,3,0,0
26,13,M,other,3,0,1,1,0,1,3,...,0,1,1,1,0,0,1,2,0,0
27,13,M,other,4,0,4,1,2,0,5,...,0,0,1,1,2,0,2,4,0,0
28,13,M,other,5,0,2,1,1,1,3,...,0,0,0,1,1,3,2,2,2,0
29,13,M,student,1,0,1,0,0,0,10,...,0,0,1,0,0,1,1,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2481,68,M,retired,2,0,3,2,1,1,4,...,0,0,0,2,0,2,1,2,2,0
2482,68,M,retired,3,0,4,0,0,1,3,...,1,0,3,0,1,4,3,9,4,0
2483,68,M,retired,4,0,5,3,0,0,8,...,1,3,0,0,4,10,5,10,7,1
2484,68,M,retired,5,0,0,0,0,0,2,...,0,0,0,0,0,3,0,0,2,0
2485,69,M,executive,1,0,1,0,0,0,3,...,0,0,0,0,0,1,0,0,1,0
2486,69,M,executive,2,0,1,1,0,0,2,...,0,0,0,0,0,0,0,0,2,1
2487,69,M,executive,3,0,6,2,0,4,12,...,0,0,0,0,0,2,4,4,1,1
2488,69,M,executive,4,0,10,3,0,0,9,...,0,0,0,0,4,4,0,6,4,1
2489,69,M,executive,5,0,4,3,0,0,2,...,0,0,0,0,2,2,0,5,6,0
2490,69,M,librarian,2,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2491,69,M,librarian,3,0,2,0,0,1,6,...,0,0,0,1,1,7,1,1,3,0
2492,69,M,librarian,4,0,0,0,0,0,1,...,0,0,0,2,0,7,0,0,3,0
2493,69,M,librarian,5,0,2,1,0,0,4,...,0,0,0,0,0,5,0,1,0,1
2494,70,F,retired,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2495,70,F,retired,2,0,1,1,0,1,9,...,0,0,0,0,0,5,0,1,0,0
2496,70,F,retired,3,0,3,1,0,0,13,...,0,0,1,2,4,4,1,6,2,0
2497,70,F,retired,4,0,3,0,0,0,10,...,0,1,0,0,2,8,1,4,2,0
2498,70,F,retired,5,0,0,0,0,0,3,...,0,0,0,0,0,3,0,0,0,0
2499,70,M,administrator,1,0,1,0,0,2,5,...,0,0,0,0,0,2,0,1,0,0
2500,70,M,administrator,2,0,1,1,0,1,2,...,0,0,0,0,1,1,2,3,1,0
2501,70,M,administrator,3,0,3,1,0,1,0,...,0,0,0,1,1,0,1,2,0,0
2502,70,M,administrator,4,0,1,0,1,1,1,...,0,0,1,1,1,1,0,3,2,0
2503,70,M,administrator,5,0,0,0,0,0,2,...,0,0,0,0,0,2,0,1,1,0
2504,70,M,engineer,3,0,1,0,0,0,0,...,0,0,0,0,0,0,1,1,1,0
2505,70,M,engineer,4,0,5,2,0,1,6,...,1,1,1,0,1,4,2,6,1,0
2506,70,M,engineer,5,0,4,2,2,2,5,...,0,0,0,2,1,5,2,3,3,1
2507,73,M,retired,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
2508,73,M,retired,3,0,3,0,0,1,6,...,0,0,0,0,0,4,0,2,0,0
2509,73,M,retired,4,0,6,5,1,2,11,...,0,1,0,1,3,8,3,7,2,0
2510,73,M,retired,5,0,3,2,0,0,8,...,0,0,0,0,3,6,1,2,5,1

## Create one-hot Coded DataFrames