# data-preprocessing

In [1]:
usr_ratings_url = 'http://files.grouplens.org/datasets/movielens/ml-100k/u.data'
movie_info_url  = 'http://files.grouplens.org/datasets/movielens/ml-100k/u.item'
usr_info_url    = 'http://files.grouplens.org/datasets/movielens/ml-100k/u.user'
genre_info_url  = 'http://files.grouplens.org/datasets/movielens/ml-100k/u.genre'
ocp_info_url    = 'http://files.grouplens.org/datasets/movielens/ml-100k/u.occupation'

---

## Part 1.  Importing the data
#### Part 1.1. Determining the Columns for each Dataset

In [2]:
import pandas as pd
import lonely_boy as lb

In [3]:
usr_ratings_cols = 'user id | item id | rating | timestamp'.split(' | ')
usr_ratings_cols

['user id', 'item id', 'rating', 'timestamp']

In [4]:
movie_info_cols = '''movie id | movie title | release date | video release date | IMDb URL | unknown | Action | Adventure | Animation | Children's | Comedy | Crime | Documentary | Drama | Fantasy | Film-Noir | Horror | Musical | Mystery | Romance | Sci-Fi | Thriller | War | Western'''.split(' | ')
movie_info_cols

['movie id',
 'movie title',
 'release date',
 'video release date',
 'IMDb URL',
 'unknown',
 'Action',
 'Adventure',
 'Animation',
 "Children's",
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Film-Noir',
 'Horror',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'War',
 'Western']

In [5]:
usr_info_cols = 'user id | age | gender | occupation | zip code'.split(' | ')
usr_info_cols

['user id', 'age', 'gender', 'occupation', 'zip code']

#### Part 1.2. Importing the Datasets
---
  * **usr_ratings** corresponds to **u.data**
  * **movie_info** corresponds to **u.item**
  * **usr_info** corresponds to **u.user**
---
  * **genre_info** corresponds to **u.genre**
  * **ocp_info** corresponds to **u.occupation**

In [6]:
usr_ratings = pd.read_csv(usr_ratings_url, delimiter='\t', header=None, names=usr_ratings_cols, encoding='latin-1')

In [7]:
usr_ratings.head()

   user id  item id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [8]:
movie_info = pd.read_csv(movie_info_url, delimiter='|', header=None, names=movie_info_cols, encoding='latin-1')

In [9]:
movie_info.head()

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [10]:
usr_info = pd.read_csv(usr_info_url, delimiter='|', header=None, names=usr_info_cols, encoding='latin-1')

In [11]:
usr_info.head()

   user id  age gender  occupation zip code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [12]:
genre_info = pd.read_csv(genre_info_url, delimiter='|', header=None, names=['genre_id', 'genre_code'], encoding='latin-1')
genre_info = genre_info[['genre_id']]

In [13]:
genre_info.head()

     genre_id
0     unknown
1      Action
2   Adventure
3   Animation
4  Children's

In [14]:
ocp_info = pd.read_csv(ocp_info_url, delimiter='|', header=None, names=['ocp_id'], encoding='latin-1')
ocp_info = ocp_info[['ocp_id']]

In [15]:
ocp_info.head()

          ocp_id
0  administrator
1         artist
2         doctor
3       educator
4       engineer

In [17]:
ocp1hot = lb.addOneHot(ocp_info)

In [18]:
gnr1hot = lb.addOneHot(genre_info)

In [19]:
usr_info.merge(ocp1hot, left_on = 'occupation', right_on = 'ocp_id')

,user id,age,gender,occupation,zip code,ocp_id,ocp_id_administrator,ocp_id_artist,ocp_id_doctor,ocp_id_educator,...,ocp_id_marketing,ocp_id_none,ocp_id_other,ocp_id_programmer,ocp_id_retired,ocp_id_salesman,ocp_id_scientist,ocp_id_student,ocp_id_technician,ocp_id_writer
0,1,24,M,technician,85711,technician,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,4,24,M,technician,43537,technician,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,44,26,M,technician,46260,technician,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,77,30,M,technician,29379,technician,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,143,42,M,technician,08832,technician,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5,197,55,M,technician,75094,technician,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6,244,28,M,technician,80525,technician,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
7,294,34,M,technician,92110,technician,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
8,311,32,M,technician,73071,technician,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9,325,48,M,technician,02139,technician,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
10,441,50,M,technician,55013,technician,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
11,456,24,M,technician,31820,technician,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
12,458,47,M,technician,Y1A6B,technician,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
13,488,48,M,technician,21012,technician,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
14,545,27,M,technician,08052,technician,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
15,670,30,M,technician,21114,technician,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
16,715,21,M,technician,91206,technician,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
17,717,24,M,technician,84105,technician,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
18,718,42,M,technician,64118,technician,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19,738,35,M,technician,95403,technician,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
20,739,35,M,technician,73162,technician,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
21,790,27,M,technician,80913,technician,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
22,812,22,M,technician,76234,technician,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
23,832,24,M,technician,77042,technician,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
24,850,34,M,technician,78390,technician,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
25,889,24,M,technician,78704,technician,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
26,938,38,F,technician,55038,technician,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
27,2,53,F,other,94043,other,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
28,5,33,F,other,15213,other,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
29,11,39,F,other,30329,other,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,318,65,M,retired,06518,retired,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
914,349,68,M,retired,61455,retired,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
915,480,57,M,retired,98257,retired,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
916,481,73,M,retired,37771,retired,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
917,564,65,M,retired,94591,retired,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
918,573,68,M,retired,48911,retired,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
919,644,51,M,retired,63645,retired,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
920,651,65,M,retired,02903,retired,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
921,752,60,M,retired,21201,retired,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
922,860,70,F,retired,48322,retired,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
923,900,60,M,retired,18505,retired,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
924,112,30,M,salesman,60613,salesman,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
925,211,66,M,salesman,32605,salesman,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
926,287,21,M,salesman,31211,salesman,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
927,336,23,M,salesman,42101,salesman,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
928,386,36,M,salesman,43221,salesman,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
929,443,35,M,salesman,33308,salesman,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
930,457,33,F,salesman,30011,salesman,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
931,531,30,F,salesman,97408,salesman,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
932,690,35,M,salesman,63304,salesman,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
933,753,56,M,salesman,91206,salesman,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
934,808,45,M,salesman,90016,salesman,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
935,925,18,F,salesman,49036,salesman,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
936,138,46,M,doctor,53211,doctor,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
937,251,28,M,doctor,85032,doctor,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
938,299,29,M,doctor,63108,doctor,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
939,427,51,M,doctor,85258,doctor,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
940,841,45,M,doctor,47401,doctor,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
941,845,64,M,doctor,97405,doctor,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
942,935,42,M,doctor,66221,doctor,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

#### Part 2. Data Preprocessing
---

In [10]:
tmp1 = pd.merge(usr_ratings, movie_info, on='item_id', how='inner')

KeyError: 'song_id'